<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tickets</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>All tickets</h1>
<a href="{{ url_for('create') }}">Add new ticket</a> |
<a href="{{ url_for('lab4_strategy') }}">Lab 4 output strategy</a>
<ul>
{% for t in tickets %}
  <li>
    <a href="{{ url_for('detail', tid=t.id) }}">{{ t.title }}</a>
    [<a href="{{ url_for('edit', tid=t.id) }}">edit</a>]
    <form method="post" action="{{ url_for('delete', tid=t.id) }}" style="display:inline">
      <button>delete</button>
    </form>
  </li>
{% endfor %}
</ul>
</body>
</html>
